 <p>Direct messages</p>
 <a class="nav-item nav-link" href="{% url 'users_list' %}"><span class="material-icons">person_add_alt_1</span></a>
 {%for room in rooms%}


<a class="nav-item nav-link" href="{% url 'user_chat' room.id %}">@<u>{{room.name}}</u></a>

 {%endfor%}
    
 

