{% extends 'base.html'%}
{%block title%}Users{%endblock%}
{%block content%}
{%load static%}


{%for user in users%}
     <div class="messages">
           <img src="{{ user.profile.image.url }}" alt="{{user.username}}">
         <div class='block'>
            <a href="{% url 'create_chat_room' user.username %}"><p>-{{user.first_name}}</p></a>
        </div>
      </div>
      <br>
{%endfor%}

{%endblock%}

{%block users%}
{%include 'qna/create_chat_room.html'%}
{%endblock%}