
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=0;">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'qna/styles.css' %}">

<title>Home | {%block title%}{%endblock%}</title>
</head>


<body>

<div class="top-bar">
{%include 'components/topnavbar.html'%}
</div>







<div class="profile-bar"> 
{%include 'components/profile_bar.html'%}
</div>




<div class="side-bar">
  <div class="side-nav">
  {%include 'components/side_bar.html'%}
  </div>
  <div class="main-side">
  {%block users%}
  {%include 'qna/create_chat_room.html'%}
  {%endblock%}
  <hr>
  </div>
</div>




<div class="top-msg"> 
    {%block top-message%}
    {%endblock%}
</div>


<div class="content">
  <div class='main-content'>
    {%block content%} {%endblock%}
  </div>
</div>



<!-- User input -->
<div class="bottom-msg">
  <div class="form-box">
    {%block input%}
    {%endblock%}
  </div>
</div>














<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
