
<button id='top-help' type="button" class="btn btn-primary" data-toggle="modal" data-target="#help" data-whatever="@fat">
  <span class="material-icons">help_outline</span>
</button>


<button id='top-search' type="button" class="btn btn-primary" data-toggle="modal" data-target="#search">Search
</button>

<button id='top-history' type="button" class="btn btn-primary" data-toggle="modal">
  <span class="material-icons">query_builder</span>
</button>